{% extends('base.html.twig') %}

{% block body %}
<h1>About order</h1>

<h5>Issues</h5>
{% if issues is empty %}
    <span class="badge badge-secondary">No issues have been reported for this order</span>
{% endif %}

<ul class="list-group">
    {% for issue in issues %}
        <li class="list-group-item"><span class="badge badge-warning"> {{ issue.type.type }} </span> - {{ issue.reason }} <br/><span class="text-muted">{{ issue.createdAt.format('Y-m-d H:i:s') }}</span></li>
    {% endfor %}
</ul>

<div style="height: 20px"></div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Items</h5>
        <p class="card-text">
        {% for item in order.orderItems %}
          {{ item.item.title }},
        {% endfor %}
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Order status</h5>
        <p class="card-text">{{ order.status }}</p>
      </div>
    </div>
  </div>

  
  <div class="col-sm-12">
   <div style="height: 30px"></div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Shipping Address</h5>
        <p class="card-text">{{ order.shippingdetails }}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Discount</h5>
        <p class="card-text">{{ order.discount }}</p>
      </div>
    </div>
  </div>

   <div class="col-sm-12">
   <div style="height: 30px"></div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Cost</h5>
        <p class="card-text">${{ order.total }}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Date</h5>
        <p class="card-text">{{ order.createdAt.format('Y-m-d H:i:s') }}</p>
      </div>
    </div>
  </div>

    <div class="col-sm-12">
        <div style="height: 20px"></div>
        <h5>Package Details</h5>
        <div style="height: 10px"></div>
    </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Box ID</h5>

        {% if error_message is defined %}
        <div class="alert alert-danger" role="alert">
          {{ error_message }}
        </div>

        {% endif %}
        
        {% if package != null %}
        <p class="card-text">{{ package.boxId }}</p>
        {% endif %}
        {% if order.status == "ORDER_PROCESSING" %}
        <form method="post" action="{{ path('picking_order_processing_complete', {id: order.id}) }}">
            <div class="form-group">
                <label for="exampleInputEmail1">BOX ID</label>
                <input type="text" class="form-control" name="boxId" required>
                <small class="form-text text-muted">This is the package container/box ID.</small>
            </div>
            <button type="submit" class="btn btn-success">Packing Products Complete</button>
        </form>
        {% endif %}
        {% if order.status == "ORDER_RECEIVED" %}
        <form method="post" action="{{ path('picking_order_processing', {id: order.id}) }}">
            <button type="submit" class="btn btn-warning">Confirm Packing Products</button>
        </form>
        {% endif %}
        


{% if package != null %}
{% if package.boxId == null %}
<span class="badge badge-secondary">No box id given</span>
{% endif %}
      </div>
    </div>
  </div>

  

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tracking Number</h5>
        <p class="card-text">{{ package.trackingNumber }}</p>
        {% if package.trackingNumber == null %}
            <span class="badge badge-secondary">No tracking numeber yet</span>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col-sm-12">
   <div style="height: 30px"></div>
  </div>


  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Proof</h5>
        <p class="card-text">{{ package.proof }}</p>
        {% if package.proof == null %}
        <span class="badge badge-secondary">Proof would be available after shipment is completed</span>
    {% endif %}
      </div>
    </div>
  </div>


  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Last updated</h5>
        <p class="card-text">{{ package.updatedAt.format('Y-m-d H:i:s') }}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
   <div style="height: 30px"></div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Shipping Company</h5>
        <p class="card-text">{{ package.shippingCompany }}</p>
        {% if package.shippingCompany == null %}
        <span class="badge badge-secondary">No company assigned yet</span>
        {% endif %}

      </div>
    </div>
  </div>

</div>


{% endif %}

<div style="height: 30px"></div>

{# <h5>Issues</h5>
{% if issues is empty %}
    <span class="badge badge-secondary">No issues have been reported for this order</span>
{% endif %} #}
{# 
<ul class="list-group">
    {% for issue in issues %}
        <li class="list-group-item"><span class="badge badge-warning"> {{ issue.issueType }} </span> - {{ issue.reason }} <br/><span class="text-muted">{{ issue.createdAt.format('Y-m-d H:i:s') }}</span></li>
    {% endfor %}
</ul> #}

{# <div style="height: 100px"></div> #}



{% endblock %}