{% extends('base.html.twig') %}

{% block body %}
<h1>Shipping Dashboard!</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Items</th>
        <th scope="col">Status</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
          <tr>
            <th scope="row">{{ order.id }}</th>
            <td>
            {% for item in order.orderItems %}
              {{ item.item.title }},
            {% endfor %}
            </td>
            <td>{{ order.status }}</td>
            <td>{{ order.total }}</td>
            <td><a href="{{ path('shipping_view_order', {id: order.id}) }}" class="btn btn-info">View</a></td>
          </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>

<div>
    {{ knp_pagination_render(orders) }}
</div>

{% endblock %}